.landing-page-wrapper {
    min-height: 100vh;
    background-color: var(--background);
    /* ELIMINAR CUANDO SE CONECTE CON BACKEND */
    padding-top: 5rem;
}

.landing-welcome-user {
    background-color: var(--color-tertiary);
    color: var(--text-primary);
    font-weight: 600;
}